# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Calc.iml
# Datasource local storage ignored files
/../../../../../../../../:\The University\C#\CharpLabs\Calc\.idea\.idea.Calc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
